SECRET=your_secret_here
EXPIRATION_TIME=604800
TOKEN=your_token_here
PROD=1
PORT=3000
DB_URL=postgresql://user:password@host:port/database
BACKEND_URL=https://your-backend-url.com/api
# ... e assim por diante